@tailwind base;
@tailwind components;
@tailwind utilities;
.cm-variable-highlight {
	background-color: rgba(0, 0, 0, 0.2);
	padding: 2px 5px;
}

.ͼ2 .cm-activeLine {
	background: transparent;
}

.cm-gutters {
	opacity: 0;
}

input {
	outline: none;
}
